.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Расстояние между строками */
}

.button-row {
  display: flex;
  justify-content: space-between; /* Размещает кнопки равномерно */
  gap: 10px; /* Расстояние между кнопками */
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.add-comment-link,
.comments-link {
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  background-color: #1fb141;
  border-radius: 5px;
  text-align: center;
}

.add-comment-link:hover,
.comments-link:hover {
  background-color: #218838;
}

.subscribe-button,
.unsubscribe-button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #ffc107;
  color: black;
  border: none;
  cursor: pointer;
}

.subscribe-button:hover,
.unsubscribe-button:hover {
  background-color: #e0a800;
}

.add-favorite,
.remove-favorite {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #da6ab6;
  color: white;
  border: none;
  cursor: pointer;
}

.add-favorite:hover,
.remove-favorite:hover {
  background-color: #c82333;
}











.post-details {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #aba9cd;
}

.post-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 100vh; /* Full height of the viewport */
  /*background-color: #f0f0f5; /* Optional: subtle background for contrast */
  padding: 20px; /* Prevent content from touching the edges */
  box-sizing: border-box; /* Include padding in width/height calculations */
}
.post-details h1 {
  font-size: 2.2rem;
  margin-bottom: 16px;
  color: #333;
  text-align: center;
}

.post-details p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 12px;
  color: #555;
}

.post-details strong {
  font-weight: bold;
  color: #222;
}

.post-details img {
  max-width: 100%;
  height: auto;
  margin: 16px 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-details .date {
  font-style: italic;
  color: #2c1919;
}

.add-comment-link {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

.add-comment-link:hover {
  background-color: #0056b3;
} 

.delete-button {
  background-color: #ff4d4f;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.delete-button:hover {
  background-color: #ff7875;
}
