.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.reset-password-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #8d79db;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(83, 69, 212, 0.1);
}

.reset-password-container h2 {
  text-align: center;
}

.reset-password-container form {
  display: flex;
  flex-direction: column;
}

.reset-password-container input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.reset-password-container button {
  padding: 10px;
  background-color: #6975bd;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.reset-password-container button:hover {
  background-color: #cc62b0;
}

.success-message {
  color: green;
  text-align: center;
}

.error-message {
  color: red;
  text-align: center;
}

h2 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

h3 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

label {
  font-size: 16px;         /* Set font size */
  font-weight: bold;       /* Make the label bold */
  color: #aaa3a3;             /* Set text color */
  margin-bottom: 8px;      /* Add space below the label */
  display: block;          /* Make the label block-level (so it spans the full width) */
  font-family: Arial, sans-serif; /* Choose a font family */
}

.success-message {
  color: green;                /* Green color for success */
  background-color: #e8d4ed;   /* Light green background */
  padding: 10px;               /* Add some padding around the message */
  border-radius: 5px;          /* Rounded corners */
  margin-top: 10px;            /* Space above the message */
  font-size: 14px;             /* Adjust font size */
  border: 1px solid #168a31;   /* Border with green color */
}

.error-message {
  color: red;                  /* Red color for error */
  background-color: #f8d7da;   /* Light red background */
  padding: 10px;               /* Add some padding around the message */
  border-radius: 5px;          /* Rounded corners */
  margin-top: 10px;            /* Space above the message */
  font-size: 14px;             /* Adjust font size */
  border: 1px solid #dc3545;   /* Border with red color */
}


